//Definicion de colores
$primary-color: #3700B3;
$second-color: #018786;
$third-color:#B00020;
$four-color:#f07b05;

//Colores para textos
$text-first-color:#d1d1d1;
$text-second-color: #ffffff;
$text-third-color: #000000;
$text-fourd-color: #666666;

//Color de fondo
$background-color:#f9f7f4;
$background-scroll-color:#f9f7f4;
$scroll-color:#616161;

$error-color: #e72f35;
$info-color:#fdc130;
$success-color:#4e9700;
