@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './variables';
@import './mixins';

@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body{
    font-family: Roboto;
    margin: unset;
    background-color: $background-color;
}
body::-webkit-scrollbar{
    width: 6px;
    background: $background-scroll-color;
}

body::-webkit-scrollbar-thumb{
    background: $scroll-color;
}
