@import '../sass/variables';


@media (min-width: 1920px) {
    .content{    
        min-height: 92.5vh;
        padding: 64px 12rem 0px;
    }
}
@media (max-width: 1919px) {
    .content{    
        min-height: 90vh;
        padding: 64px 12rem 0px;
    }
}
@media (max-width: 1366px) {
    .content{    
        min-height: 88.8vh;
        padding: 64px 10rem 0px;
    }
}
@media (max-width: 945px) {
    .content{    
        min-height: 86vh;
        padding: 64px 6rem 0px;
    }
}

@media (max-width: 768px) {
    .content{    
        min-height: 80vh;
        padding: 64px 3rem 0px;
    }
}
@media (max-width: 425px) {
    .content{    
        min-height: 78vh;
        padding: 64px 1rem 0px;
    }
}