<!-- Empleos -->
<div class="empleos">
  <ul class="timeline">
    <li class="event">
      <p class="dates">Actualidad Mayo/2018</p>
      <h1 class="position">QA funcional</h1>
      <h2 class="company">Stefanini Software & Tecnologia</h2>
      <p class="description">
        Diseñar escenarios de prueba, diseñar casos de prueba, ejecutar casos de prueba, realizar la documentación
        pertinente, reportar defectos, administrar defectos, brindar soporte a la revisión de la aplicación por parte
        del
        cliente basado en el marco de trabajo <b>SCRUM</b>.<br><br>
        Diseñar pruebas automatizadas utilizando la herramienta Selenium webdriver con JAVA para el proyecto regional
        de
        Claims-Web Colombia, Argentina y Mexico.
      </p>
    </li>
    <li class="event">
      <p class="dates">Mayo/2018 Septiembre/2016</p>
      <h1 class="position">Product Owner / QA Funcional</h1>
      <h2 class="company">Exsis Software & Soluciones</h2>
      <p class="description">
        Interpretar, diseñar y priorizar los requerimientos del producto, diseñar historias de usuario, mockups y
        wireframes basado en el marco de trabajo <b>SCRUM</b>.<br><br>
        Coordinar las pruebas funcionales, diseñar escenarios de prueba, diseñar casos de prueba, ejecutar casos de
        prueba, evaluar resultados obtenidos, realizar la documentación pertinente, reportar defectos, administrar
        defectos, brindar soporte a la revisión de la aplicación por parte del cliente.<br><br>
        Realizar el análisis, validación, verificación de los artefactos y su pertinente documentación para el proyecto
        de Virtual Clinic basado en metodología <b>CMMI</b>.<br><br>
        Colaborar en el lanzamiento de la plataforma Virtual Clinic y ser parte del equipo auditor en dos auditorias
        internas de las normas <b>ISO 27001:2013</b> e <b>ISO 9001:2015</b>.
      </p>
    </li>
  </ul>
</div>