<!-- mi perfil -->
<div class="row perfil">
  <div class="col-xs-6 col-sm-4 col-lg-4">
    <a>
      <img class="own-image" src="assets/images/iconos/phone-icon.svg">
    </a>
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-8 ">
    <p class="description" id="pPersonalDescription">
      <!-- Diseñador gráfico y web freelance desde 2016, momento desde el cual capitalizo mi tiempo aprendiendo sobre
      nuevas tecnologías y lenguajes de programación.Cuento con sólidos conocimientos en HTML y CSS principalmente,
      junto con fundamentos básicos e intermedios de JavaScript.<br><br>
      Motivado a crecer profesionalmente, busco formar parte de una organización que me permita explotar mis
      habilidades y potenciarlas. Adaptado a entornos dinámicos, hábil para ordenar, planificar, comunicar,
      trabajar colaborativamente y bajo metodologías agiles, y establecer relaciones interpersonales. -->
      <!-- {{texto}} -->
    </p>
  </div>
</div>
