<footer>
    <div class="row social-networks">
        <div class="col-md-4 col-xs-12">
            <a class="social-logo">
                <img class="icon" src="assets/images/iconos/phone-icon.svg">
            </a>
            <span class="social-text">
                (+57) 313 4729662
            </span>
        </div>
        <div class="col-md-4 col-xs-12">
            <a class="social-logo" href="mailto:manfer93@gmial.com">
                <img class="icon mail" src="assets/images/iconos/mail-icon.svg">
            </a>
            <a class="social-text" href="mailto:manfer93@gmial.com">
                manfer93@gmail.com
            </a>
        </div>
        <div class="col-md-4 col-xs-12">
            <a class="social-logo" href="https://www.linkedin.com/in/manuel-fdo-munoz">
                <img class="icon linkedin" src="assets/images/iconos/linkedin-icon.svg">
            </a>
            <a class="social-text" href="https://www.linkedin.com/in/manuel-fdo-munoz">
                manuel-fdo-munoz
            </a>
        </div>
    </div>
</footer>